
html,body {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
#children {
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #339941;
  min-width: 100vw;
}
.child {
  background-color: #ff0000;
  border: 1px solid #000000;
  margin: 10px;
}

